/*topbar*/
.topbar{
	position:fixed;
	top:0;
	left:0px;
	width:100%;
	height: 43px;
	z-index: 1005;
	color:#fff;
	background-color: #2e363f;
	text-align: center;
	overflow: hidden;
}.logo{
	display: block;
	width: 160px;
	height:43px;
	background:url(../images/logo.png) center no-repeat;
}.topbar .icon{
	border-left: 1px #37414b solid;
	display: block;
	width: 50px;
	height: 43px;
	cursor: pointer;
	color:#8f9da4;
	line-height:43px;
	text-align: center;
	white-space:nowrap;
}.topbar .icon:hover{
	color:#fff;
	width: 90px;
	background-color: #1f262d;
}.topbar .icon:hover:before{
	display: none;
}.topbar .icon span{
	display: block;
	width: 100%;
	height: 100%;
	font-size: 14px;
	line-height: 43px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
}.topbar .icon::selection,.topbar .icon span::selection {
    background:none;
}
/*Ruler*/
.editorruler{
	opacity: 0.5;
	z-index: 100;
}.rulerx{
	position: fixed;
	top:41px;
	left:0;
	width: 100%;
	height: 20px;
	background:url(../images/tool/EditorRulerBG-H.png) 0px -2px repeat-x;;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: rgb(0, 0, 0);
}.rulery{
	position: fixed;
	top: 62px;
	right: 0px;
	width: 20px;
	height: 100%;
	background:url(../images/tool/EditorRulerBG-V.png) -19px -20px repeat-y;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: rgb(0, 0, 0);
}.editorscaleNumbers {
	position: absolute;
}.rulerx .editorscaleNumbers {
	left:0px; 
	top: 2px; 
	height: 20px; 
	width: 100%;
}.rulery .editorscaleNumbers {
	right: 0px; 
	top: -76px; 
	height: 100%; 
	width: 20px;
}.scaleNumber {
	position: absolute;
	font-size: 6pt;
	pointer-events: none;
}.rulery .scaleNumber{
	left:2px;
}

/*Work space*/
#workspace{
	height:100%;
	width:100%;
	min-height:100%;
	*zoom:1;
	overflow: visible;
}#main{
	height:100%;
	min-height:100%;
	width:100%;
	*zoom:1;
	position: relative;
	top:43px;
}.canvas{
	position:absolute;
	top:0;
	right:0;
	width:100%;
	height:100%;
	z-index:2;
}.canvas .gridbg{
	position:fixed;
	top:42px;
	left:0;
	min-height:100%;
	width:100%;
	height:100%;
	z-index:0;
	*zoom:1;
	background-image:url("../images/tool/grid.png");
	opacity:.5;
	filter:alpha(opacity=50);
	filter:alpha(opacity=50);
}
/*Side bar*/
#side{
	position:fixed;
	top:43px;
	left:-240px;
	width:240px;
	height: 100%;
	background-color:rgba(30,36,43,0.9);
	z-index: 1003;
}
#workspace.move-right #side{
	left:0px;
}
#side .tabs dd a{
	background-color:rgba(30,36,43,0.4);
	color:#ccc;
	padding:6px 14px;
	font-size: 0.81rem;
	border-top:1px solid rgba(30,36,43,0.7);;
}
#side .tabs dd.active a{
	color:#fff;
	background-color:transparent;
}


#canvas .bd{
	padding:0 10px;
}.mk_config{
	margin-bottom: 1rem;
}.yd_attr dt{
	font-size: 0.85rem;
	color:#fff;
	margin-bottom: 0.6rem;
}.yd_attr dt em{
	color:#999;
	font-size: 0.75rem;
	font-style: normal;
	font-weight: normal;
	padding-left: 0.3rem;
}.yd_attr dd{
	font-size: 0.75rem;
	line-height: 25px;
}.yd_attr hr {
	margin: 10px 0;
	border: 0;
	border-top: 1px solid rgba(30,36,43,0.6);
	border-bottom: 1px solid rgba(255,255,255,0.1);
}.yd_attr .size{
	padding-top: 28px;
}#canvas .yd_attr .size input{
	width: 40px;
}




#tools{
	width: 94%;
	margin:0 auto;
}#tools .toolist{
	width: 100%;
	height: 500px;
	list-style: none;
	margin:0;
}#tools li{
	float: left;
	text-align: center;
	width: 70px;
	height: 70px;
	padding:10px 0;
	cursor: move;
	color:#ccc;

}#tools li:hover{
	background-color: #2e363f;
	color:#fff;
}#tools li i{
	display: block;
	width: 100%;
}#tools li label{
	padding-top:3px;
	color:inherit;
	cursor: inherit;
	font-size: 12px;
}.has-tip,.has-tip:hover, .has-tip:focus {
	border-bottom: none;
}




#layers{
	width: 90%;
	margin:0 auto;
}#layers .hd{
	padding-bottom:5px;
	color:#fff;
}
#layers .hd .name{
	float: left;
}
#layers .fi-trash{
	float: right;
	width: 12px;
	cursor: pointer;
}#layers .bd .list{
	width:205px;
	height: 100%;
	position: absolute;
	overflow-y:auto;
	padding-bottom:150px;
}#layers p{
	cursor:default;
	border-bottom:1px solid rgba(0,0,0,0.4);
	box-shadow:inset 0 -1px 0 rgba(255,255,255,0.05);
	color:#bdbdbd;
}#layers p:hover,#layers p:hover i{
	color:#fff;
}#layers p i{
	margin-left:5px;
	margin-top: 2px;
	float:right;
	width: 14px;
	cursor: pointer;
}#layers p i.fi-x{
	width: 12px;
}#layers p span{
	float:left;
}#layers .bd .list p.active span{
	color:#ffb400;
}#layers .bd .list p{
  -webkit-transition:all ease-in 0.2s;
  -moz-transition:all ease-in 0.2s;
  -o-transition:all ease-in 0.2s;
  transition:all ease-in 0.2s;
}#layers .bd .list p.ts{
  padding-top:0;
  padding-bottom:0;
  height:0;
  overflow: hidden;
  margin-top:0;
  margin-bottom: 0;
  border-bottom-color: transparent;
}#layers .grid_set{
	margin-top: 10px;
	position: absolute;
	bottom: 45px;
	width:205px;
	background-color: #222;
}#layers .grid_set dt{
	text-align: center;
}#layers .range-slider.round {
	background-color: #333;
	border-color: #000;
	height:10px;
}#layers .range-slider .range-slider-handle{
	height: 18px;
	width: 23px;
	left:90px;
	background:url(../images/tool/handle.png) no-repeat;
}#layers .range-slider.round .range-slider-active-segment{
	border-radius: 1000px;
	height: 8px;
}



/*Aleat Window Animate*/
.reveal-modal-bg{
	background: rgba(0, 0, 0, 0.9);
	-webkit-transition: opacity 5s linear;
	transition: opacity 5s linear;
}
.reveal-modal-bg.fadeIn {
	filter: alpha(opacity=100);
	opacity:1;
}
.reveal-modal-bg.windowbg {
	filter: alpha(opacity=0);
	opacity: 0;
}


/*Alert Windows*/
.reveal-modal p{
	margin:30px 0;
}.reveal-modal p strong{
	color:#f00;
	padding:0 3px;
	text-decoration: underline;
}.reveal-modal p em{
	font-style: normal;
	color:#008cba;
}.reveal-modal .button.small{
  font-size: 0.88889rem;
  padding-top: 0.58889rem;
  padding-right: 1.47778rem;
  padding-bottom: 0.64444rem;
  padding-left: 1.47778rem;
  margin:0 0.5rem 0 0;
}




