body {
position: relative;
background: #fff;
font-family: "Segoe UI","Lucida Grande",Helvetica,Arial,"Microsoft YaHei",FreeSans,Arimo,"Droid Sans","wenquanyi micro hei","Hiragino Sans GB","Hiragino Sans GB W3",FontAwesome,sans-serif;}
/*icon font size*/
.size-12 { font-size: 0.75rem; }
.size-14 { font-size: 0.9rem; }
.size-16 { font-size: 1rem; }
.size-18 { font-size: 1.1rem;}
.size-20 { font-size: 20px; }
.size-21 { font-size: 21px; }
.size-24 { font-size: 24px; }
.size-28 { font-size: 1.7rem; }
.size-30 { font-size: 30px; }
.size-36 { font-size: 36px; }
.size-48 { font-size: 48px; }
.size-60 { font-size: 60px; }
.size-72 { font-size: 72px; }
/*Alert Windows*/
.reveal-modal h3 {
    color: #0397c2;
}
.reveal-modal p {
    margin: 30px 0;
    color: #666;
}
.reveal-modal p strong {
    color: #f00;
    padding: 0 3px;
    text-decoration: underline;
}
.reveal-modal p em {
    font-style: normal;
    color: #ffb400;
}
.reveal-modal p .tip {
    padding-top: 0.3rem;
    font-size: 0.9rem;
    display: block;
    color: #999;
}
.reveal-modal .button.small {
    font-size: 0.88889rem;
    padding-top: 0.58889rem;
    padding-right: 1.47778rem;
    padding-bottom: 0.64444rem;
    padding-left: 1.47778rem;
    margin: 0 0.5rem 0 0;
}
/*generate code*/
.generateCode > p{
	margin:0;
	position: absolute;
	top:2.65rem;
	padding-left: 8rem;
}
.generateCode .buttonlist{
	margin-top: 1.2rem;
	margin-bottom: 1.5rem;
	text-align: center;
	border-top:1px #ececec solid;
	padding-top: 1.5rem;
}
.generateCode textarea{
	height: 15rem;
}
.generateCode textarea[readonly]{
	background-color: #eeeeee;
}
.generateCode .alert-box{
	position: absolute;
	width: 94%;
}
.generateCode .alert-box.hide{
	display: none;
}
/*login*/
.login h3{
	border-bottom:1px #ececec solid;
	padding-bottom:0.5rem;
}
.login form{
	width: 25rem;
	margin:2rem auto 0 auto;
}
.login form .row{
	margin-top: 1rem;
}
.login form input{
	margin: 0.5rem 0;
	border-color: #ececec;
}
.login form input:focus{
	background-color: #fff;
}
.login form .alert-box{
	margin-left: 0.5rem;
}
.login .login-button{
	margin-top: 1rem;
	padding:0 15px;
}

.login form .alert-box{
	position: absolute;
	right:-170px;
	bottom:0.5rem;
	font-size: 0.85rem;
	height: 2.3rem;
	line-height: 1.7rem;
	padding-top:0.3rem;
	margin: 0;
}
.login form .alert-box.hide{
	display: none;
}
.login form .login-button{
	position: relative;
}
.login form .login-button .alert-box{
	right:0;
	bottom:0;
}
/*模糊效果*/
.blur{
    -webkit-filter:blur(1px);
    filter:blur(1px);
}
/*ts*/
.ts{
	webkit-transition: 0.2s ease-in-out;
	-moz-transition: 0.2s ease-in-out;
	-ms-transition: 0.2s ease-in-out;
	-o-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
}
/*tooltip*/
.tooltip{
	z-index: 999999;
	background: rgba(30, 36, 43, 0.9);
}
/*input*/
input[type=text],input[type=password],input[type=number],input[type=url],input[type=datetime]{
	border:1px solid rgba(30,36,43,1);
	display: inline-block;
	margin:0;
	box-shadow:0 0 0px rgba(0,0,0,0);
	transition-duration: 0.3s

}input[type=text]:focus,input[type=number]:focus,input[type=url]:focus,input[type=datetime]:focus,input[type=password]:focus{
	box-shadow:0 0 7px rgba(39,170,227,1);
	border-color:#27aae3;
	
}.box .ft{
	color:#ccc;
	height:30px;
	padding:5px;
	border-top:1px solid #242424;
	border-top:1px solid rgba(0,0,0,0.4);
	box-shadow:inset 0 1px 0 rgba(255,255,255,0.05);
	*zoom:1;
}.box .ft:before,.box .ft:after{
	display:table;
	content:"";
	line-height:0;
}.box .ft:after{
	clear:both;
}
input.ng-invalid{
	box-shadow:0 0 7px rgba(250,107,107,1);
	border-color:#fb6b6b;
}
/*canvas*/
.eButton{
	z-index:100;
	outline:none;
	overflow: hidden;
}.eButton .resizehandle{
	position:absolute;
	overflow:hidden;
	font-size:0;
	line-height:0;
	z-index:101;
	background-color:#f00;
	opacity:0;
	filter:alpha(opacity=0);
}.eButton .n-resize,.eButton .s-resize{
	left:0;
	height:1px;
	width:100%;
	cursor:n-resize;
}.eButton .s-resize{
	bottom:0;
}.eButton .n-resize{
	top:0;
}.eButton .e-resize,.eButton .w-resize{
	top:0;
	height:100%;
	width:1px;
	cursor:e-resize;
}.eButton .w-resize{
	left:0;
}.eButton .e-resize{
	right:0;
}.eButton .sw-resize,.eButton .se-resize,.eButton .nw-resize,.eButton .ne-resize{
	position:absolute;
	width:8px;
	height:8px;
	z-index:101;
}.eButton .sw-resize{
	left:-3px;
	bottom:-3px;
	cursor:sw-resize;
}.eButton .se-resize{
	right:-3px;
	bottom:-3px;
	cursor:nw-resize;
}.eButton .nw-resize{
	left:-3px;
	top:-3px;
	cursor:nw-resize;
}.eButton .ne-resize{
	right:-3px;
	top:-3px;
	cursor:sw-resize;
}.eButton:hover .resizehandle{
	opacity:.6;
	filter:alpha(opacity=60);
}.eButton.now .resizehandle{
	opacity:1;
	filter:alpha(opacity=100);
}
/*slide button*/
.canvas .slidenav,
.canvas .slidearrow{
	position: absolute;
	display: block;
	z-index: 99;
}
.canvas .slidenav.now,
.canvas .slidearrow.now{
	border:1px #f00 solid;
}
.canvas .slidenav.hide,
.canvas .slidearrow.hide{
	display: none;
}
.canvas .slidenav li{
	padding: 1px 8px;
	opacity: .6;
	filter: alpha(opacity=60);
	margin: 5px;
	list-style: none;
	border-style: solid;
	border-width: 1px;
}
.canvas .slidenav.left{
	float: none!important;
}
.canvas .slidenav.left li{
	float: left;
}
.canvas .slidenav li.act{
	opacity: 1;
	filter: alpha(opacity=100);
}
/*element area*/
.wrap .area{
	opacity: .6;
	overflow: hidden;
	background-color:#60e6e3;
}.wrap .eButton.opacity{
	opacity: .8;
}

/*popup*/
.popup{
	border:1px #f00 solid;
	display: none;
}.popup.now{
	display: block;
}.popup.hide{
	display: none;
}
/*countdown*/
.countdown {
	white-space:nowrap;
}
.countdown span{
	display: inline-block;
	padding: 10px 5px;
}.countdown span em{
	font-style: normal;
}
/*search*/
.search .search_keyword,.search .search_btn{
	z-index: 99;
	position: absolute;
	overflow: hidden;
	border-style: solid;
	border-width: 1px;
}
.search .search_btn{
	text-align: center;
	color:#fff;
	font-size: 0.85rem;
	line-height: 2rem;
}
.search.status1 .search_keyword,.search.status1 .search_btn{
	outline: 1px #f00 solid;
}
.search.status1 .search_btn{
	text-indent: -9999px;
}
/*wwgroup*/
.wwgroup.now{
	border:1px #f00 solid;
}
/*ww*/
.wrap .ww.now{
	border:1px #f00 solid;
}
.wrap .ww{
	text-align: center;
	line-height:0;
}
.wrap .ww .toux{
	position: absolute;
	bottom: 0;
	right:2px;
}
/*share*/
.share .style1,.share .style3{
	text-indent: -9999px;
	background-repeat: no-repeat;
}
/*attention*/
.attention img{
	vertical-align: top;
}

