<div ng-if="code==1" class="account">
<h3>账号详情：</h3>

	<p>
		<strong>{{userData.name}}</strong>
		<span>到期时间:{{userData.time}}</span>
		<i class="icon fi-info size-18 has-tip" tooltip="与模板到期时间同步"></i>
		<a ng-click="$parent.$parent.$parent.code=2">修改密码</a>
	</p>
	<p>
		常用链接:<a href="http://zxn.taobao.com/designer_detail.htm?spm=0.0.0.34.1b3f6f&designerId=773" target="_blank">装修模板</a>|<a href="http://siteadmin.taobao.com/design.htm" target="_blank">店铺装修</a>|<a href="http://tadget.taobao.com/redaction/manager.htm" target="_blank">图片空间</a>|<a href="http://siteadmin.taobao.com/category/index.htm" target="_blank">宝贝分类管理</a>|<a href="http://sell.taobao.com/auction/merchandise/auction_list.htm" target="_blank">出售中的宝贝</a>|<a href="http://sell.taobao.com/auction/merchandise/auction_list.htm?type=1" target="_blank">仓库中的宝贝</a>|<a href="http://sell.taobao.com/auction/merchandise/auction_list.htm?type=2" target="_blank">橱窗推荐</a>
	</p>
</div>
<div ng-if="code==2" class="login">
	<h3>修改密码：</h3>
	<form>
	  <div class="row">
	    <div class="large-12 columns radius">
	      <label>原密码:
	        <input type="password" ng-model="$parent.$parent.$parent.beforePass" ng-change="hide()" placeholder="如无修改，原密码为123456" />
	      </label>
	      <div class="animated alert-box warning radius" ng-class="{'hide':backCode!=1,'fadeInRight':backCode==1}">
			原密码不正确！
	      </div>	
	    </div>
	  </div>
	  <div class="row">
	    <div class="large-12 columns radius">
	      <label>新密码:
	        <input type="password" ng-model="$parent.$parent.$parent.userPass" ng-change="hide()" placeholder="输入您的新密码" />
	      </label>
	      <label>确认密码:
	        <input type="password" ng-model="$parent.$parent.$parent.confirmPass" ng-change="hide()" placeholder="输入您的新密码" />
	      </label>
	      <div class="animated alert-box warning radius" ng-class="{'hide':backCode!=2,'fadeInRight':backCode==2}">
			2次密码不一致！
	      </div>
	    </div>
	  </div>
	  <div class="login-button">
		<a class="button small radius" ng-click="change()">确认修改</a>
		<a class="button secondary small radius" ng-click="$parent.$parent.$parent.code=1">取消</a>
		<div class="animated alert-box success radius" ng-class="{'hide':backCode!=3,'fadeInRight':backCode==3}">
			修改成功！
	     </div>
	  </div>
	
	</form>
</div>




<a class="close-reveal-modal" ng-click="cancel()">×</a>

