<div class="attribute animated" ng-class="{'fadeInRight':attrControl==true,'fadeOutRight':attrControl==false}">
    <div class="hd">
        <span class="name">组件属性:&nbsp;&nbsp;</span>
        <i class="icon fi-arrow-right size-14 right" ng-click="$parent.attrControl=false"></i>
    </div>
    <div class="bd" style="height:{{wHeight-79}}px;">
        <div class="attr_group">
            <dl class="left">
                <dt>
                    <span>当前对象</span>
                </dt>
                <dd>
                    <span>{{dataMks.mks[canvasOrder].widget[order].name}}</span>
                </dd>
                <dd>
                  <span class="btn btn-delete ts" ng-click="deleteElement()"><i class="icon fi-x size-14 left"></i><b class="right">删除</b></span>
                </dd>
            </dl>

            <dl class="left">
                <dt>
                    <span>位置</span>
                </dt>
                <dd class="">
                    左:
                    <input type="number" required  ng-model="dataMks.mks[canvasOrder].widget[order].position.left">px</dd>
                <dd class="">
                    上:
                    <input type="number" required  ng-model="dataMks.mks[canvasOrder].widget[order].position.top">px</dd>
            </dl>
            <dl class="left size">
            	<div ng-if="dataMks.mks[canvasOrder].widget[order].size!=null">
                <dt>
                    <span>大小</span>
                </dt>
                <dd>
                    宽:
                    <input type="number" required  ng-model="dataMks.mks[canvasOrder].widget[order].size.width">px</dd>
                <dd>
                    高:
                    <input type="number" required  ng-model="dataMks.mks[canvasOrder].widget[order].size.height">px</dd>
                </div>  
				<div ng-if="dataMks.mks[canvasOrder].widget[order].type=='wwgroup'" class="ww">
					<dt>
                    	<span>旺旺群ID</span>
                	</dt>
	                <dd>
	                    <input type="number" required  ng-model="dataMks.mks[canvasOrder].widget[order].wwGroupId"></dd>
	                <dd>
				</div>
				<div ng-if="dataMks.mks[canvasOrder].widget[order].type=='ww'" class="ww">
					<dt>
                    	<span>旺旺ID</span>
                	</dt>
	                <dd>
	                    <input type="text" ng-model="dataMks.mks[canvasOrder].widget[order].wwId" placeholder="您的旺旺账号"></dd>
	                <dd>
				</div>
            </dl>
			<dl class="left clearfix full" ng-if="dataMks.mks[canvasOrder].widget[order].type=='area'">
                <dt>
                    <span>链接地址</span>
                </dt>
                <dd>
                    <input type="url" ng-model="dataMks.mks[canvasOrder].widget[order].link" placeholder="点击后页面跳转的链接地址">
                </dd>
            </dl>

		   <dl ng-if="dataMks.mks[canvasOrder].widget[order].type=='img'" class="left clearfix full">
                <dt>
                    <span>图片地址</span>
                </dt>
                <dd>
                    <input type="url" required ng-model="dataMks.mks[canvasOrder].widget[order].imgUrl">
                </dd>  
                <dd>  
                    <span class="btn ts" ng-click="getImageSize()">获取图片尺寸</span>
                    <a class="btn ts" href="http://tadget.taobao.com/redaction/manager.htm" target="_blank">图片空间</a>
                </dd>  
                <dt>
                    <span>链接地址</span>
                </dt>
                <dd>
                    <input type="url" ng-model="dataMks.mks[canvasOrder].widget[order].link" placeholder="点击后页面跳转的链接地址">
                </dd>
				<dt class="clearfix">
                    <span class="left">鼠标悬浮图片</span>
                    <div class="left switch small round">
                        <input id="hover" type="checkbox" ng-model="dataMks.mks[canvasOrder].widget[order].hover.status">
                        <label for="hover"></label>
                    </div>
                </dt>
                <dd class="clearfix animated" ng-class="{'hide':!dataMks.mks[canvasOrder].widget[order].hover.status,'fadeInUp':dataMks.mks[canvasOrder].widget[order].hover.status}">
                    <input type="url" required ng-model="dataMks.mks[canvasOrder].widget[order].hover.imgUrl">
                </dd>
          		<dt  class="clearfix">
                    <span class="left">弹出层</span>
                    <div class="left switch small round">
                        <input id="popup" type="checkbox" ng-model="dataMks.mks[canvasOrder].widget[order].popup.status">
                        <label for="popup"></label>
                    </div>
                </dt>
                <div class="clearfix animated" ng-class="{'hide':!dataMks.mks[canvasOrder].widget[order].popup.status,'fadeInUp':dataMks.mks[canvasOrder].widget[order].popup.status}">
                  <dd>
                      <input type="url" required ng-model="dataMks.mks[canvasOrder].widget[order].popup.imgUrl">
                  </dd>
                  <dd class="viewpopup">
                      <span class="left"><input id="popupshow" type="checkbox" ng-model="dataMks.mks[canvasOrder].widget[order].popup.show">&nbsp;&nbsp;预览弹出层</span>
                      <span class="right">&nbsp;&nbsp;&nbsp;上:<input type="number" required  ng-model="dataMks.mks[canvasOrder].widget[order].popup.position.top">px</span>
                      <span class="right">左:<input type="number" required  ng-model="dataMks.mks[canvasOrder].widget[order].popup.position.left">px</span>
                  </dd>
                </div>  
           </dl>

		   <dl ng-if="dataMks.mks[canvasOrder].widget[order].type=='text'" class="left clearfix full textstyle">
                <dt>
                    <span>文字内容</span>
                </dt>
                <dd>
                  <textarea required ng-model="dataMks.mks[canvasOrder].widget[order].text"></textarea>
                </dd>
                <dt>
                    <span>文字样式</span>
                </dt>
                <dd>
                  大小:<input type="number" required  ng-model="dataMks.mks[canvasOrder].widget[order].fontsize">px
                     &nbsp;&nbsp;行高:<input type="number" required  ng-model="dataMks.mks[canvasOrder].widget[order].lineht">px
                     &nbsp;&nbsp;字体:
                     <select class="btn ts" ng-model="dataMks.mks[canvasOrder].widget[order].font">
                      <option value="simsun" ng-selected="selected">宋体</option>
                      <option value="simhei">黑体</option>
                      <option value="lisu">隶书</option>
                      <option value="kaiti_gb2312">楷体</option>
                      <option value="microsoft yahei">微软雅黑</option>
                      <option value="georgia">Georgia</option>
                      <option value="times new roman">Times New Roman</option>
                      <option value="impact">Impact</option>
                      <option value="courier new">Courier New</option>
                      <option value="arial">Arial</option>
                      <option value="verdana">Verdana</option>
                      <option value="tahoma">Tahoma</option>
                    </select>
                </dd>
                <dd class="clearfix">
                    <span class="left">加粗:</span>
                    <div class="left switch small round">
                        <input id="weight" type="checkbox" ng-model="dataMks.mks[canvasOrder].widget[order].weight" ng-true-value="600" ng-false-value="100">
                        <label for="weight"></label>
                    </div>
                    <span class="left color">颜色:</span>
                    <input class="left colorinput" type="text" ng-model="dataMks.mks[canvasOrder].widget[order].color">
                    <div class="right color-picker">
                        <div class="sp-preview">
                            <div colorpicker="rgb" colorpicker-position="top" colorpicker-with-input="dataMks.mks[canvasOrder].widget[order].color" class="sp-preview-inner form-control ng-pristine ng-valid" ng-model="dataMks.mks[canvasOrder].widget[order].color" style="background-color:{{dataMks.mks[canvasOrder].widget[order].color}}"></div>
                        </div>
                    </div>
                </dd>  
            	<dt class="clearfix">
                    <span class="left">文字滚动</span>
                    <div class="left switch small round" >
                        <input id="marquee" type="checkbox" ng-model="dataMks.mks[canvasOrder].widget[order].scrollStatus" ng-change="$parent.$parent.$broadcast('marquee')">
                        <label for="marquee"></label>
                    </div>
                </dt>
                <div class="clearfix animated other" ng-class="{'hide':!dataMks.mks[canvasOrder].widget[order].scrollStatus,'fadeInUp':dataMks.mks[canvasOrder].widget[order].scrollStatus}">
                  <dd class="clearfix">
                      <div class="name left">滚动方向:</div>
                      <div class="cont left">
                          <input type="radio" ng-model="dataMks.mks[canvasOrder].widget[order].scrollMode" ng-change="$parent.$parent.$broadcast('marquee')" value="up"> 上 &nbsp;&nbsp;&nbsp;
                          <input type="radio" ng-model="dataMks.mks[canvasOrder].widget[order].scrollMode" ng-change="$parent.$parent.$broadcast('marquee')" value="down"> 下 &nbsp;&nbsp;&nbsp;
                          <input type="radio" ng-model="dataMks.mks[canvasOrder].widget[order].scrollMode" ng-change="$parent.$parent.$broadcast('marquee')" value="left"> 左 &nbsp;&nbsp;&nbsp;
                          <input type="radio" ng-model="dataMks.mks[canvasOrder].widget[order].scrollMode" ng-change="$parent.$parent.$broadcast('marquee')" value="right"> 右
                      </div>
                  </dd>
                  <dd class="clearfix">
                      <div class="name left">滚动速度:</div>
                      <div class="range-slider round left">
                          <div class="rsHandles range-slider-handle" role="slider"></div>
                      </div>
                      <div class="left" ng-bind="percent"><div class="hide">{{dataMks.mks[canvasOrder].widget[order].scrollSpeed=percent}}</div></div>
                  </dd>
                </div>
           </dl>
		
			<dl ng-if="dataMks.mks[canvasOrder].widget[order].type=='countdown'" class="left clearfix full textstyle">
                <dt>
                    <span>活动结束时间</span>
                </dt>
                <dd>
                  <input type="datetime" date-time ng-model="dataMks.mks[canvasOrder].widget[order].time" placeholder="{{dataMks.mks[canvasOrder].widget[order].placetime}}">
                </dd> 
                <dt>
                    <span>时间背景图片</span>
                </dt>
                <dd>
                  <input type="url" required ng-model="dataMks.mks[canvasOrder].widget[order].img">
                </dd> 
                <dt></dt>
				<dd>
                      <div class="name left">显示风格:</div>
                      <div class="cont left">
                          <input type="radio" ng-model="dataMks.mks[canvasOrder].widget[order].show" ng-change="$parent.$parent.$broadcast('show')" value="4"> 天时分秒 &nbsp;&nbsp;&nbsp;
                          <input type="radio" ng-model="dataMks.mks[canvasOrder].widget[order].show" ng-change="$parent.$parent.$broadcast('show')" value="1"> 时分秒 &nbsp;&nbsp;&nbsp;
                          <input type="radio" ng-model="dataMks.mks[canvasOrder].widget[order].show" ng-change="$parent.$parent.$broadcast('show')" value="2"> 分秒 &nbsp;&nbsp;&nbsp;
                          <input type="radio" ng-model="dataMks.mks[canvasOrder].widget[order].show" ng-change="$parent.$parent.$broadcast('show')" value="3"> 秒
                      </div>
                </dd>
                <dd class="clearfix">
                    <span class="left">显示单位:&nbsp;</span>
                    <div class="left switch small round">
                        <input id="units" type="checkbox" ng-model="dataMks.mks[canvasOrder].widget[order].units">
                        <label for="units"></label>
                    </div>
					<div class="right">
                        左右间距:<input type="number" required  ng-model="dataMks.mks[canvasOrder].widget[order].margin">px
                    </div>
                </dd>
                <dt>
                    <span>文字样式</span>
                </dt>
                <dd>
                  大小:<input type="number" required  ng-model="dataMks.mks[canvasOrder].widget[order].fontsize">px
                     &nbsp;&nbsp;行高:<input type="number" required  ng-model="dataMks.mks[canvasOrder].widget[order].lineht">px
                     &nbsp;&nbsp;字体:
                     <select class="btn ts" ng-model="dataMks.mks[canvasOrder].widget[order].font">
                      <option value="simsun" ng-selected="selected">宋体</option>
                      <option value="simhei">黑体</option>
                      <option value="lisu">隶书</option>
                      <option value="kaiti_gb2312">楷体</option>
                      <option value="microsoft yahei">微软雅黑</option>
                      <option value="georgia">Georgia</option>
                      <option value="times new roman">Times New Roman</option>
                      <option value="impact">Impact</option>
                      <option value="courier new">Courier New</option>
                      <option value="arial">Arial</option>
                      <option value="verdana">Verdana</option>
                      <option value="tahoma">Tahoma</option>
                    </select>
                </dd>
                <dd class="clearfix">
                    <span class="left">加粗:</span>
                    <div class="left switch small round">
                        <input id="weight" type="checkbox" ng-model="dataMks.mks[canvasOrder].widget[order].weight" ng-true-value="600" ng-false-value="100">
                        <label for="weight"></label>
                    </div>
                    <span class="left color">颜色:</span>
                    <input class="left colorinput" type="text" ng-model="dataMks.mks[canvasOrder].widget[order].color">
                    <div class="right color-picker">
                        <div class="sp-preview">
                            <div colorpicker="rgb" colorpicker-position="top" colorpicker-with-input="dataMks.mks[canvasOrder].widget[order].color" class="sp-preview-inner form-control ng-pristine ng-valid" ng-model="dataMks.mks[canvasOrder].widget[order].color" style="background-color:{{dataMks.mks[canvasOrder].widget[order].color}}"></div>
                        </div>
                    </div>
                </dd>   
            </dl>
            <dl ng-if="dataMks.mks[canvasOrder].widget[order].type=='cart'" class="left clearfix full">
				<dt>
                    <span>链接地址</span>
                </dt>
                <dd>
                    <input type="url" ng-model="dataMks.mks[canvasOrder].widget[order].link" placeholder="点击后页面跳转的链接地址">
                </dd>
                <dt>
                    <span>图片地址</span>
                </dt>
                <dd>
                    <input type="url" required ng-model="dataMks.mks[canvasOrder].widget[order].imgUrl">
                </dd>
            </dl>

			<dl ng-if="dataMks.mks[canvasOrder].widget[order].type=='qrcode'" class="left clearfix full qrcode">
            	<dt>
            		<span>二维码类型</span>
            	</dt>
				<dd>
                    <input type="radio" ng-model="dataMks.mks[canvasOrder].widget[order].qrtype" value="v=1&type=bs&shop_id"> 天猫商品 &nbsp;&nbsp;
                    <input type="radio" ng-model="dataMks.mks[canvasOrder].widget[order].qrtype" value="v=1&type=bi&item_id"> 天猫店铺 &nbsp;&nbsp;
                    <input type="radio" ng-model="dataMks.mks[canvasOrder].widget[order].qrtype" value="type=cs&shop_id"> 集市商品 &nbsp;&nbsp;
                    <input type="radio" ng-model="dataMks.mks[canvasOrder].widget[order].qrtype" value="&v=1&type=ci&item_id"> 集市店铺
                </dd>
                <dt>
                	<span>二维码内容</span>
                </dt>
                <dd class="clearfix">
                	<input type="text" required  ng-model="dataMks.mks[canvasOrder].widget[order].id"><s>填写商品ID或店铺ID</s>
                </dd>
            </dl>
			<div ng-if="dataMks.mks[canvasOrder].widget[order].type=='search'" class="left clearfix full search">
                <dl class="left">
                <dt>
                    <span>输入框位置</span>
                </dt>
                <dd class="">
                    左:
                    <input type="number" required  ng-model="dataMks.mks[canvasOrder].widget[order].input.position.left">px</dd>
                <dd class="">
                    上:
                    <input type="number" required  ng-model="dataMks.mks[canvasOrder].widget[order].input.position.top">px</dd>
	            </dl>
	            <dl class="left">
	                <dt>
	                    <span>输入框大小</span>
	                </dt>
	                <dd>
	                    宽:
	                    <input type="number" required  ng-model="dataMks.mks[canvasOrder].widget[order].input.size.width">px</dd>
	                <dd>
	                    高:
	                    <input type="number" required  ng-model="dataMks.mks[canvasOrder].widget[order].input.size.height">px</dd>
	            </dl>
	            <dl class="left size">
	                <div ng-class="{'hide':dataMks.mks[canvasOrder].widget[order].showStyle==1}">
	                <dt>
	                    <span>输入框背景色</span>
	                </dt>
	                <dd>
	                    <input class="colorinput" type="text" ng-model="dataMks.mks[canvasOrder].widget[order].inputBgColor">
                    <dd>
	                    <div class="color-picker">
	                        <div class="sp-preview">
	                            <div colorpicker="rgb" colorpicker-position="top" colorpicker-with-input="dataMks.mks[canvasOrder].widget[order].inputBgColor" class="sp-preview-inner form-control ng-pristine ng-valid" ng-model="dataMks.mks[canvasOrder].widget[order].inputBgColor" style="background-color:{{dataMks.mks[canvasOrder].widget[order].inputBgColor}}"></div>
	                        </div>
	                    </div>
                    </dd>
                	</div>
	            </dl>
	            <div class="clearfix"></div>
				<dl class="left">
                <dt>
                    <span>按钮位置</span>
                </dt>
                <dd class="">
                    左:
                    <input type="number" required  ng-model="dataMks.mks[canvasOrder].widget[order].btn.position.left">px</dd>
                <dd class="">
                    上:
                    <input type="number" required  ng-model="dataMks.mks[canvasOrder].widget[order].btn.position.top">px</dd>
	            </dl>
	            <dl class="left">
	                <dt>
	                    <span>按钮大小</span>
	                </dt>
	                <dd>
	                    宽:
	                    <input type="number" required  ng-model="dataMks.mks[canvasOrder].widget[order].btn.size.width">px</dd>
	                <dd>
	                    高:
	                    <input type="number" required  ng-model="dataMks.mks[canvasOrder].widget[order].btn.size.height">px</dd>
	            </dl>
	            <dl class="left size">
	            	<div ng-class="{'hide':dataMks.mks[canvasOrder].widget[order].showStyle==1}">
	                <dt>
	                    <span>按钮背景色</span>
	                </dt>
	                <dd>
	                    <input class="colorinput" type="text" ng-model="dataMks.mks[canvasOrder].widget[order].mkColor">
                    <dd>
	                    <div class="color-picker">
	                        <div class="sp-preview">
	                            <div colorpicker="rgb" colorpicker-position="top" colorpicker-with-input="dataMks.mks[canvasOrder].widget[order].mkColor" class="sp-preview-inner form-control ng-pristine ng-valid" ng-model="dataMks.mks[canvasOrder].widget[order].mkColor" style="background-color:{{dataMks.mks[canvasOrder].widget[order].mkColor}}"></div>
	                        </div>
	                    </div>
                    </dd>
                	</div>
	            </dl>
	            <div class="clearfix"></div>
	            <dl class="clearfix full">
	                <dt>
	                    <span>店铺地址</span>
	                </dt>
	                <dd>
	                    <input type="url" ng-model="dataMks.mks[canvasOrder].widget[order].shoplink" placeholder="您的店铺地址">
	                </dd>
	            </dl>
	            <dl class="clearfix full input">
					 <dt>
	                    <span class="left">输入框文字颜色:</span>
	                    <input class="left colorinput" type="text" ng-model="dataMks.mks[canvasOrder].widget[order].textColor">
	                    <div class="left color-picker">
	                        <div class="sp-preview">
	                            <div colorpicker="rgb" colorpicker-position="top" colorpicker-with-input="dataMks.mks[canvasOrder].widget[order].textColor" class="sp-preview-inner form-control ng-pristine ng-valid" ng-model="dataMks.mks[canvasOrder].widget[order].textColor" style="background-color:{{dataMks.mks[canvasOrder].widget[order].textColor}}"></div>
	                        </div>
	                    </div>
	                </dt>
	            </dl>
	            <dl class="clearfix full">
	                <dt class="clearfix">
	                    <span class="left">显示风格</span>
	                    <div class="left">
	                        <input type="radio" ng-model="dataMks.mks[canvasOrder].widget[order].showStyle" value="0" ng-change="$parent.$parent.$broadcast('transparent')"> 默认 &nbsp;&nbsp;
                          	<input type="radio" ng-model="dataMks.mks[canvasOrder].widget[order].showStyle" value="1" ng-change="$parent.$parent.$broadcast('transparent')"> 透明(可自定义背景图) 
	                    </div>
	                </dt>
	                <div class="clearfix animated" ng-class="{'hide':dataMks.mks[canvasOrder].widget[order].showStyle==0,'fadeInUp':dataMks.mks[canvasOrder].widget[order].showStyle==1}">
	                  <dd>
	                      <input type="url" required ng-model="dataMks.mks[canvasOrder].widget[order].imgUrl">
	                  </dd>
	                  <dd>  
		                    <span class="btn ts" ng-click="getImageSize()">获取图片尺寸</span>
		                    <a class="btn ts" href="http://tadget.taobao.com/redaction/manager.htm" target="_blank">图片空间</a>
		               </dd>  
	                </div>  
            	</dl>
	        </div>
	        <dl ng-if="dataMks.mks[canvasOrder].widget[order].type=='video'" class="left clearfix full qrcode">
                <dt class="clearfix">
                    <span>视频链接</span>
                </dt>
				<dd>
                    <input type="url" ng-model="dataMks.mks[canvasOrder].widget[order].videolink">
                </dd>
            </dl>	
			<dl ng-if="dataMks.mks[canvasOrder].widget[order].type=='wwgroup'" class="left clearfix full qrcode">
                <dt class="clearfix">
                    <span class="left">图片风格</span>
                </dt>
				<dd>
					<input type="radio" ng-model="dataMks.mks[canvasOrder].widget[order].imgStyle" value="1" ng-change="$parent.$parent.$broadcast('changeStyle')"> 风格一 &nbsp;
                    <input type="radio" ng-model="dataMks.mks[canvasOrder].widget[order].imgStyle" value="2" ng-change="$parent.$parent.$broadcast('changeStyle')"> 风格二 &nbsp;
                    <input type="radio" ng-model="dataMks.mks[canvasOrder].widget[order].imgStyle" value="3" ng-change="$parent.$parent.$broadcast('changeStyle')"> 风格三 &nbsp;
                    <input type="radio" ng-model="dataMks.mks[canvasOrder].widget[order].imgStyle" value="4" ng-change="$parent.$parent.$broadcast('changeStyle')"> 风格四 &nbsp;
                    <input type="radio" ng-model="dataMks.mks[canvasOrder].widget[order].imgStyle" value="0" ng-change="$parent.$parent.$broadcast('changeStyle')"> 自定义
				</dd>
				<dd class="animated" ng-class="{'hide':dataMks.mks[canvasOrder].widget[order].imgStyle!=0,'fadeInUp':dataMks.mks[canvasOrder].widget[order].imgStyle==0}">
	                <input type="url" required ng-model="dataMks.mks[canvasOrder].widget[order].img">
	            </dd>
            </dl>	
            <dl ng-if="dataMks.mks[canvasOrder].widget[order].type=='ww'" class="left clearfix full qrcode search">
                <dt class="clearfix">
                    <span class="left">显示风格</span>
                    <input type="radio" ng-model="dataMks.mks[canvasOrder].widget[order].imgStyle" value="1"> 大图 &nbsp;
                    <input type="radio" ng-model="dataMks.mks[canvasOrder].widget[order].imgStyle" value="2"> 小图 &nbsp;
                </dt>
                <dt class="clearfix">
                    <span class="left">头像图片</span>
                </dt>
				<dd>
	                <input type="url" ng-model="dataMks.mks[canvasOrder].widget[order].img" tooltip="留空则不显示图片">
	            </dd>
            </dl>
			<dl ng-if="dataMks.mks[canvasOrder].widget[order].type=='attention'||dataMks.mks[canvasOrder].widget[order].type=='favourite'" class="left clearfix full">
                <dt class="clearfix">
                    <span class="left">店铺链接</span>
                </dt>
                <dd>
                    <input type="url" ng-model="dataMks.mks[canvasOrder].widget[order].shoplink" placeholder="您的店铺地址">
                </dd>
                <dt>
                    <span>图片地址</span>
                </dt>
                <dd>
                    <input type="url" required ng-model="dataMks.mks[canvasOrder].widget[order].imgUrl">
                </dd> 
            </dl>
			<dl ng-if="dataMks.mks[canvasOrder].widget[order].type=='share'" class="left clearfix full">
                <dt class="clearfix">
                    <span>显示风格</span>
                    <input type="radio" ng-model="dataMks.mks[canvasOrder].widget[order].showStyle" value="1" ng-change="$parent.$parent.$broadcast('changeShareStyle')"> 默认样式 &nbsp;
                    <input type="radio" ng-model="dataMks.mks[canvasOrder].widget[order].showStyle" value="2" ng-change="$parent.$parent.$broadcast('changeShareStyle')"> 纯文字 &nbsp;
                    <input type="radio" ng-model="dataMks.mks[canvasOrder].widget[order].showStyle" value="3" ng-change="$parent.$parent.$broadcast('changeShareStyle')"> 自定义 &nbsp;
                </dt>
                <div class="clearfix animated" ng-class="{'hide':dataMks.mks[canvasOrder].widget[order].showStyle!=3,'fadeInUp':dataMks.mks[canvasOrder].widget[order].showStyle==3}">
	                  <dd>
	                      <input type="url" required ng-model="dataMks.mks[canvasOrder].widget[order].imgUrl">
	                  </dd>
	                  <dd>  
		                    <span class="btn ts" ng-click="getImageSize()">获取图片尺寸</span>
		                    <a class="btn ts" href="http://tadget.taobao.com/redaction/manager.htm" target="_blank">图片空间</a>
		               </dd>  
	            </div>  
	            <div class="clearfix animated textstyle" ng-class="{'hide':dataMks.mks[canvasOrder].widget[order].showStyle!=2,'fadeInUp':dataMks.mks[canvasOrder].widget[order].showStyle==2}">
					<dd>
	                  大小:<input type="number" required  ng-model="dataMks.mks[canvasOrder].widget[order].fontsize">px
	                  	<select class="btn ts right" ng-model="dataMks.mks[canvasOrder].widget[order].font">
	                      <option value="simsun" ng-selected="selected">宋体</option>
	                      <option value="simhei">黑体</option>
	                      <option value="lisu">隶书</option>
	                      <option value="kaiti_gb2312">楷体</option>
	                      <option value="microsoft yahei">微软雅黑</option>
	                      <option value="georgia">Georgia</option>
	                      <option value="times new roman">Times New Roman</option>
	                      <option value="impact">Impact</option>
	                      <option value="courier new">Courier New</option>
	                      <option value="arial">Arial</option>
	                      <option value="verdana">Verdana</option>
	                      <option value="tahoma">Tahoma</option>
	                    </select>
	                    <span class="right">字体:</span>
	                </dd>
	                <dd class="clearfix">
	                    <span class="left">加粗:</span>
	                    <div class="left switch small round">
	                        <input id="weight" type="checkbox" ng-model="dataMks.mks[canvasOrder].widget[order].weight" ng-true-value="600" ng-false-value="100">
	                        <label for="weight"></label>
	                    </div>
	                    <span class="left color">颜色:</span>
	                    <input class="left colorinput" type="text" ng-model="dataMks.mks[canvasOrder].widget[order].color">
	                    <div class="right color-picker">
	                        <div class="sp-preview">
	                            <div colorpicker="rgb" colorpicker-position="top" colorpicker-with-input="dataMks.mks[canvasOrder].widget[order].color" class="sp-preview-inner form-control ng-pristine ng-valid" ng-model="dataMks.mks[canvasOrder].widget[order].color" style="background-color:{{dataMks.mks[canvasOrder].widget[order].color}}"></div>
	                        </div>
	                    </div>
	                </dd> 
            	</div> 
            </dl>
        </div>
	</div>
</div>