<div class="bd layer">
  <div class="hd clearfix">
    <span class="name left">图层组</span>
    <i class="icon fi-trash size-18 right" tooltip="清空图层"></i>
  </div>
  <div class="yd_attr clearfix">
    <hr>
    <div id="layer_list" class="list">
      <div class="wrap_0 layer_0 wrap">
      </div>
    <!--
      <p class="cart_19">
        <span class="left">购物车19</span>
        <i class="icon fi-x size-14 right" tooltip="删除"></i>
        <i class="icon fi-arrow-down size-14 actDown right" tooltip="下移"></i>
        <i class="icon fi-arrow-up size-14 act_up right" tooltip="上移"></i>
        <i class="icon fi-unlock size-14 act_lock right" tooltip="锁定"></i>
        
      </p>
      
      <p class="cart_18">
        <span class="left">购物车18</span>
      <i class="icon fi-x size-14 right" tooltip="删除"></i>
        <i class="icon fi-arrow-down size-14 actDown right" tooltip="下移"></i>
        <i class="icon fi-arrow-up size-14 act_up right" tooltip="上移"></i>
        <i class="icon fi-unlock size-14 act_lock right" tooltip="锁定"></i>
        
        
      </p>


      <p class="cart_17">
         <span class="left">购物车17</span>
        <i class="icon fi-x size-14 right" tooltip="删除"></i>
        <i class="icon fi-arrow-down size-14 actDown right" tooltip="下移"></i>
        <i class="icon fi-arrow-up size-14 act_up right" tooltip="上移"></i>
        <i class="icon fi-unlock size-14 act_lock right" tooltip="锁定"></i>
        
       
      </p>

      <p class="cart_16">
        <span class="left">购物车16</span>
        <i class="icon fi-x size-14 right" tooltip="删除"></i>
        <i class="icon fi-arrow-down size-14 actDown right" tooltip="下移"></i>
        <i class="icon fi-arrow-up size-14 act_up right" tooltip="上移"></i>
        <i class="icon fi-unlock size-14 act_lock right" tooltip="锁定"></i>
        
        
      </p>-->





    </div>   
    
  </div>
</div>