<div id="layers">
  <div class="hd">
    <span class="name">图层组</span>
    <i class="icon fi-trash size-18" tooltip="清空图层"></i>
  </div>
  <div class="bd">
    <div id="layer_list" class="list">
    <!--
      <p class="cart_19">
        <i class="icon fi-x size-14" tooltip="删除"></i>
        <i class="icon fi-arrow-down size-14 actDown" tooltip="下移"></i>
        <i class="icon fi-arrow-up size-14 act_up" tooltip="上移"></i>
        <i class="icon fi-unlock size-14 act_lock" tooltip="锁定"></i>
        <span>购物车19</span>
      </p>
      
      <p class="cart_18">
        <i class="icon fi-x size-14" tooltip="删除"></i>
        <i class="icon fi-arrow-down size-14 actDown" tooltip="下移"></i>
        <i class="icon fi-arrow-up size-14 act_up" tooltip="上移"></i>
        <i class="icon fi-unlock size-14 act_lock" tooltip="锁定"></i>
        <span>购物车18</span>
      </p>


      <p class="cart_17">
        <i class="icon fi-x size-14" tooltip="删除"></i>
        <i class="icon fi-arrow-down size-14 actDown" tooltip="下移"></i>
        <i class="icon fi-arrow-up size-14 act_up" tooltip="上移"></i>
        <i class="icon fi-unlock size-14 act_lock" tooltip="锁定"></i>
        <span>购物车17</span>
      </p>

      <p class="cart_16">
        <i class="icon fi-x size-14" tooltip="删除"></i>
        <i class="icon fi-arrow-down size-14 actDown" tooltip="下移"></i>
        <i class="icon fi-arrow-up size-14 act_up" tooltip="上移"></i>
        <i class="icon fi-unlock size-14 act_lock" tooltip="锁定"></i>
        <span>购物车16</span>
      </p>-->





    </div>   
    <div class="grid_set">
      <dl>
        <dt>网格透明度: <span id="alpha_val">50</span>%</dt>
          <dd >
                  
            <div class="range-slider round" data-slider="" data-options="display_selector:#alpha_val;">
              <span class="rsHandle range-slider-handle" role="slider" display="alpha_val"></span>
            </div>
  
           
        </dd>
       </dl>       
     </div>
  </div>
</div>