
                <meta charset="uft-8">
    <title>EASY CODE 页面预览</title>

  <script>
            window.g_config = {appId: 2, assetsHost: "http://a.tbcdn.cn/", toolbar: false,  pageType:  "wangpu" };
            window.ds_config = {
          sid:239298757,
          _tb_token_:"szv2dDGjJ8WIkX5",
        shop_url:"http://shop61095106.taobao.com",
        if_url: {
                    "page-release" : '/releaseSite.htm'
                }
      };
                  window.shop_config = {isPreview:true};
            var login_config = {
                currentTime: "2015-02-22-10-34-43"
            }
        </script>
                                        <!--new Template -->
<link rel="stylesheet" href="http://a.tbcdn.cn/??p/global/1.0/global-min.css?t=20150213.css"/>
<link rel="stylesheet" href="http://g.tbcdn.cn/tb/global/3.3.26/global-min.css"/>
<link rel="stylesheet" href="http://g.tbcdn.cn//shop/??wangpu/1.0.0/layout/layout-min.css,wangpu/1.0.0/global/footer-min.css,wangpu/1.0.0/global/copyright-min.css,modules/0.1.22/modules-default-min.css?t=201502131809.css"/>
                        <script src="http://a.tbcdn.cn/??s/kissy/1.3.0/seed-min.js"></script>
                <script src="http://a.tbcdn.cn/??p/global/1.0/global-min.js?t=20130114.js"></script>
                            <script src="http://g.tbcdn.cn//shop/wangpu/1.0.30/init.js?t=201502131831.js"></script>
                         <link rel="stylesheet" href="http://a.tbcdn.cn/??/apps/taesite/platinum/stylesheet/common/templates/fengxun/blue/skin-new.css?t=20150213">

    


<style>
    #page #content #bd {
        width: 100%
    }
</style>

<div id="J_SiteNav" class="site-nav">
  <div id="J_SiteNavBd" class="site-nav-bd">
    <ul id="J_SiteNavBdL" class="site-nav-bd-l">
    <li id="J_LoginInfo" class="J_Menu menu login-info" data-fn-name="fn-login-info" data-spm="754894437">

    <div class="menu-hd"><a href="http://i.taobao.com/my_taobao.htm?ad_id=&amp;am_id=&amp;cm_id=&amp;pm_id=1501036000a02c5c3739" target="_top">yongd</a><a href="http://vip.taobao.com" target="_top" class="vip-icon vip-icon-7"></a></div>
    </li>
    <li id="J_Tmsg" class="tmsg" data-spm="1997563201">
    <div class="J_Menu menu" data-fn-name="fn-tmsg"><div class="menu-hd J_Tmsg_Basic tmsg_basic"><span class="J_Tmsg_Logo tmsg_logo_area tmsg_logo_active" style="zoom:1;"><span class="J_Tmsg_Logo_Text tmsg_logo_text">消息</span> <span class="J_Tmsg_Logo_Unread tmsg_logo_unread">3</span></span> </div>
    </li>
    <li class="menu mobile" data-spm="1997563273"><div class="menu-hd"><a href="http://www.taobao.com/m" target="_top">手机逛淘宝</a></div>
    </li>
    <li id="J_Weekend" class="menu weekend" data-spm="1996803849"></li></ul>
    <ul id="J_SiteNavBdR" class="site-nav-bd-r">
      <li class="menu home" data-spm="1581860521">
        <div class="menu-hd"><a href="http://www.taobao.com/" target="_top" class="h">淘宝网首页</a></div></li>
        <li class="J_Menu menu my-taobao" data-spm="1997525045">

        <div class="menu-hd J_MenuMyTaobao"><a href="http://i.taobao.com/my_taobao.htm" target="_top">我的淘宝</a></div>

        </li>
        <li id="J_MiniCart" class="J_Menu menu mini-cart" data-fn-name="fn-mini-cart" data-spm="1997525049"><div class="menu-hd"><a href="http://cart.taobao.com/cart.htm?from=mini&amp;ad_id=&amp;am_id=&amp;cm_id=&amp;pm_id=1501036000a02c5c3739" target="_top" id="mc-menu-hd"><span>购物车</span><strong id="J_MiniCartNum" class="h">3</strong></a></div>
        </li><li class="J_Menu menu favorite" data-spm="1997525053"><div class="menu-hd"><a href="http://shoucang.taobao.com/shop_collect_list.htm" target="_top"><span>收藏夹</span></a></div>

        </li>
        <li class="menu guide" data-spm="1997563209"><div class="menu-hd"><a href="http://list.taobao.com/browse/cat-0.htm?taobao_from=6" target="_top">商品分类</a></div></li>
        <li class="site-nav-pipe">|</li><li class="J_Menu menu seller-center" data-spm="1997525073"><div class="menu-hd"><a href="http://mai.taobao.com/seller_admin.htm" target="_top">卖家中心</a></div>
        </li>
        <li class="menu service" data-spm="754895749"><div class="menu-hd"><a href="http://service.taobao.com/support/main/service_center.htm" target="_top">联系客服</a></div></li>
        <li id="J_SiteMap" class="J_Menu menu site-map" data-fn-name="fn-site-map" data-spm="1997525077"><div class="menu-hd"><a href="http://www.taobao.com/sitemap.php?id=sitemap2" target="_top"><span>网站导航</span></a></div></li></ul>
  </div>
</div>
          
    <div id="page">

 <div id="header" class="tshop-psm-shop-header2">
 <div id="header-content" class="header-box w950">
      <div class="logo-search">
        <div class="logos">
                          <a href="http://www.taobao.com" target="_blank" class="tb-logo"><span class="logo iconfont">&#512;</span><span class="url iconfont">&#506;</span></a>
                                    <a  class="logo-extra iconfont"><i></i>&#61566;&#61550;</a>
                   </div>
        <div class="search-box">
          <div id="J_SearchTab" class="search-triggers">
            <ul>
              <li class="J_SearchTab search-tab selected" data-action="http://s.taobao.com/search" data-searchtype="item"  data-goldlogid="/tbwmdd.1.051" data-defaultpage="nogo">
                <a href="">淘宝</a>
              </li>
              <li class="J_SearchTab search-tab" data-searchtype="thisshop" data-action="http://shop61095106.taobao.com/search.htm"  data-goldlogid="/tbwmdd.1.050">
                <a href="">本店</a>
              </li>
            </ul> 
            <span class="search-arrow"><i></i></span> 
          </div>
          <div class="search-panel">
            <form target="_top" action="http://s.taobao.com/search" name="search" id="J_TSearchForm" class="search-panel-focused">
              <div class="search-button">
                <button class="btn-search iconfont" type="submit">&#25628;&#32034;</button>
              </div>
              <div class="search-panel-fields">
                <input id="q" name="q" aria-label="请输入搜索文字" accesskey="s" autocomplete="off">
                <i id="J_SearchIcon" class="iconfont">&#337</i>
              </div>
                <input type="hidden" name="searcy_type" value="item"/>
            <input type="hidden" value="newHeader" name="s_from">
            <input type="hidden" name="source">
            <input type="hidden" name="ssid" value="s5-e"/>
            <input type="hidden" name="search" value="y"/>
            <input type="hidden" id="J_TSearchSPM" name="spm" value="a1z10.1.1996643285.d4916901">
            </form>
          </div>
        </div>
      </div>
      <div class="shop-summary J_TShopSummary">
        <p class="summary-line">
          <span class="line-left J_TShopLeft">
            <span class="shop-name">
              店铺：
              <span title="已通过淘字号认证">yongd <span class="shop-type">TB</span></span>              <a lass="J_TGoldlog" data-goldlog-id="/tbwmdd.1.044"><i id="J_TEnterShop">进入店铺</i></a>
            </span>
            <span class="shop-rank">
              <a class="rank-icon J_TGoldlog" >
                <img class="rank" border="0" align="absmiddle" src="http://pics.taobaocdn.com/newrank/s_blue_3.gif">
                </a>
                                      </span>
                <span class="qualification">
                                                      </span>
            <a class="mini-dsr J_TGoldlog" rel="nofollow">
            <span class="mini-dsr-wrap dsr-wrap-left"></span>
            <span class="dsr-title">描述</span>
            <span class="dsr-num red">5.0</span>
              <span class="dsr-split"></span>
              <span class="dsr-title">服务</span>
              <span class="dsr-num red">5.0</span>
              <span class="dsr-split"></span>
              <span class="dsr-title">物流</span>
              <span class="dsr-num red">5.0</span>
              <span class="mini-dsr-wrap dsr-wrap-right"></span>
                          </a>
            <span class="popup-fold-icon arrow arrow-down J_TPopupFold"><i></i><em></em></span>
          </span>
          <span class="line-right">
            <a class="shop-collect iconfont J_TCollectShop J_TGoldlog" ><em>★</em>收藏店铺</a>
            <a class="follow-mobile J_TWeitaoHover J_TQRLinkShop" rel="nofollow">
                 <em></em>用手机逛本店
            </a>
          </span>
        </p>
    </div>
    </div>
</div>

<div id="content" class="eshop head-expand tb-shop ">
 <div id="hd" ></div>

<div id="bd" >
    <div class="layout grid-m0 J_TLayout" data-widgetid="8630255701" data-componentid="231" data-context="bd" data-prototypeid="231" data-id="8630255701" data-sitecategory="2">
  
      <div class="col-main">
    <div class="main-wrap J_TRegion" data-modules="main" style="overflow:visible;" data-width="b950">
      <div class="J_TModule" ><div class="skin-box tb-module tshop-pbsm tshop-pbsm-shop-self-defined">
       <div class="skin-box-bd clear-fix">
            <div style="width:1119px;height:77px;overflow:hidden;">
	<div class="footer-more-trigger" style="width:100%;height:100%;border:none;padding:0;top:auto;left:-0px;">
		<div style="position:relative;width:1119px;height:77px;background-color:transparent;background-image:url();background-repeat:no-repeat;background-position:center;">
					</div>
	</div>
</div>        </div>
    
  </div>
</div>

    </div>
  </div>
    </div>

</div>

        </div>
                    
<div id="footer">
    <p>吾爱设计 版权所有</p>
</div>
                
            </div>

