<div ng-class="{'hide':code==12}"><h3>温馨提示：</h3></div>
<div ng-if="code==1">
	<p>您确定<strong> 删除 </strong><em>{{name}}</em>  ? <span class="tip">（删除后不可恢复）</span></p>
  	<a class="button small radius" ng-click="ok()">确定</a>
	<a class="button secondary small radius" ng-click="cancel()">取消</a>
</div>

<div ng-if="code==2">
  	<p><em>{{name}}</em> 处于<strong> 锁定 </strong>状态，不可删除，请先解锁后再删除。</p>
	<a class="button small radius" ng-click="cancel()">确定</a>
	<a class="button secondary small radius" ng-click="cancel()">取消</a>
</div>

<div ng-if="code==3">
  	<p>⊙▂⊙ 请您按顺序删除画布，<strong> 暂不支持乱序删除 </strong>给您带来不便，请谅解。</p>
	<a class="button small radius" ng-click="cancel()">确定</a>
	<a class="button secondary small radius" ng-click="cancel()">取消</a>
</div>

<div ng-if="code==4">
	<p>*^︹^* 至少要给人家留个画布遮羞嘛，<em> 不然就曝光了哦... </em></p>
	<a class="button small radius" ng-click="cancel()">确定</a>
	<a class="button secondary small radius" ng-click="cancel()">取消</a>
</div>


<div ng-if="code==11" class="generateCode">
	<p>请选择生成类型</p>
	<div class="buttonlist">
		<a class="button small radius" ng-click="ok('0')">生成集市店铺代码</a>
		<a class="button small radius" ng-click="ok('1')">生成天猫店铺代码</a>
		<a class="button small radius" ng-click="ok('2')">生成京东店铺代码</a>
	</div>
	<div class="alert-box success radius animated" ng-class="{'hide':!copied,'fadeInDown':copied}">
	  复制代码成功，您可以去粘贴到店铺模块里啦！
	</div>
	<textarea ng-model="htmlCode" ng-readonly="true"></textarea>
	<a class="button small radius" clip-copy="getCodeToCopy()" clip-click="doSomething()">复制</a>
	<a class="button secondary small radius" ng-click="cancel()">取消</a>
</div>

<div ng-if="code==12" class="login">
	<h3>登录窗口：</h3>
	<form>
	  <div class="row">
	    <div class="large-12 columns radius">
	      <label>用户名:
	        <input type="text" ng-model="$parent.$parent.$parent.userName" ng-change="hide()" placeholder="您的淘宝、天猫或京东账号(仅限我们的模板用户)" />
	      </label>
	      <div class="animated alert-box warning radius" ng-class="{'hide':backCode!=1,'fadeInRight':backCode==1}">
			啊偶，用户名不存在！
	      </div>	
	    </div>
	  </div>
	  <div class="row">
	    <div class="large-12 columns">
	      <label>密码:
	        <input type="password" ng-model="$parent.$parent.$parent.userPass" ng-change="hide()" placeholder="如无修改，默认密码为123456" />
	      </label>
	      <div class="animated alert-box warning radius" ng-class="{'hide':backCode!=2,'fadeInRight':backCode==2}">
			很抱歉，密码不正确！
	      </div>
	    </div>
	  </div>
	  <div class="login-button">
		<a class="button small radius" ng-click="login()">登录</a>
		<a class="button secondary small radius" ng-click="cancel()">取消</a>
		<div class="animated alert-box success radius" ng-class="{'hide':!showSuccess,'fadeInRight':showSuccess}">
			登陆成功，欢迎您使用！
	     </div>
	  </div>
	
	</form>
</div>




<a class="close-reveal-modal" ng-click="cancel()">×</a>

