 <div class="editorruler rulerx">
  <div class="editorscaleNumbers">
    <div class="scaleNumber" style="left: 3px;">0</div>
    <div class="scaleNumber" style="left: 103px;">100</div>
    <div class="scaleNumber" style="left: 203px;">200</div>
    <div class="scaleNumber" style="left: 303px;">300</div>
    <div class="scaleNumber" style="left: 403px;">400</div>
    <div class="scaleNumber" style="left: 503px;">500</div>
    <div class="scaleNumber" style="left: 603px;">600</div>
    <div class="scaleNumber" style="left: 703px;">700</div>
    <div class="scaleNumber" style="left: 803px;">800</div>
    <div class="scaleNumber" style="left: 903px;">900</div>
    <div class="scaleNumber" style="left: 1003px;">1000</div>
    <div class="scaleNumber" style="left: 1103px;">1100</div>
    <div class="scaleNumber" style="left: 1203px;">1200</div>
    <div class="scaleNumber" style="left: 1303px;">1300</div>
    <div class="scaleNumber" style="left: 1403px;">1400</div>
    <div class="scaleNumber" style="left: 1503px;">1500</div>
    <div class="scaleNumber" style="left: 1603px;">1600</div>
    <div class="scaleNumber" style="left: 1703px;">1700</div>
    <div class="scaleNumber" style="left: 1803px;">1800</div>
    <div class="scaleNumber" style="left: 1903px;">1900</div>
  </div>
</div>

<div class="editorruler rulery">
  <div class="editorscaleNumbers">
    <div class="scaleNumber" style="top: 156px;">100</div>
    <div class="scaleNumber" style="top: 256px;">200</div>
    <div class="scaleNumber" style="top: 356px;">300</div>
    <div class="scaleNumber" style="top: 456px;">400</div>
    <div class="scaleNumber" style="top: 556px;">500</div>
    <div class="scaleNumber" style="top: 656px;">600</div>
    <div class="scaleNumber" style="top: 756px;">700</div>
    <div class="scaleNumber" style="top: 856px;">800</div>
    <div class="scaleNumber" style="top: 956px;">900</div>
    <div class="scaleNumber" style="top: 1056px;">1000</div>
    <div class="scaleNumber" style="top: 1156px;">1100</div>
    <div class="scaleNumber" style="top: 1256px;">1200</div>
    <div class="scaleNumber" style="top: 1356px;">1300</div>
    <div class="scaleNumber" style="top: 1456px;">1400</div>
    <div class="scaleNumber" style="top: 1556px;">1500</div>
    <div class="scaleNumber" style="top: 1656px;">1600</div>
  </div>
</div>