<div class="bd">
    <ul class="toolist">
     
        <li class="ts has-tip" tooltip="可在图片上添加链接区域" draggable directive="area">
            <i class="icon fi-crop size-28"></i>
            <label>热点</label>
        </li>  
        <li class="ts has-tip" tooltip="可添加任意图片和链接" draggable directive="img">
          <i class="icon fi-photo size-28"></i>
          <label>图片</label>
        </li>  
        <li class="ts has-tip" tooltip="可添加任意文本,任意位置" draggable directive="text">  
          <i class="icon fi-text-color size-28"></i>
          <label>文字</label>
        </li>
        <li class="ts has-tip" tooltip="可做放大镜,双面图等效果" draggable directive="imgpop">
          <i class="icon fi-puzzle size-28"></i>
          <label>弹出层</label>
        </li>  
        <li class="ts has-tip" tooltip-placement="bottom" tooltip="添加倒计时的时间和文字">
          <i class="icon fi-clock size-28"></i>
          <label>倒计时</label>
        </li>  
        <li class="ts has-tip" tooltip-placement="bottom" tooltip="加入购物车按钮">  
          <i class="icon fi-shopping-cart size-28"></i>
          <label>购物车</label>
        </li>
        <li class="ts has-tip" tooltip-placement="bottom" tooltip="可生成手机二维码">
          <i class="icon fi-mobile size-28"></i>
          <label>二维码</label>
        </li>  
        <li class="ts has-tip" tooltip-placement="bottom" tooltip="可生成店铺搜索框">
          <i class="icon fi-magnifying-glass size-28"></i>
          <label>搜索</label>
        </li>  
        <li class="ts has-tip" tooltip-placement="bottom" tooltip="可插入视频">  
          <i class="icon fi-video size-28"></i>
          <label>视频</label>
        </li>
        <li class="ts has-tip" tooltip-placement="bottom" tooltip="添加旺旺群">
          <i class="icon fi-torsos-all size-28"></i>
          <label>旺旺群</label>
        </li>  
        <li class="ts has-tip" tooltip-placement="bottom" tooltip="添加客服旺旺">
          <i class="icon fi-torso size-28"></i>
          <label>旺旺客服</label>
        </li>  
        <li class="ts has-tip" tooltip-placement="bottom" tooltip="添加天猫品牌关注">  
          <i class="icon fi-heart size-28"></i>
          <label>天猫关注</label>
        </li>
        <li class="ts has-tip" tooltip-placement="bottom" tooltip="可添加店铺收藏">
          <i class="icon fi-star size-28"></i>
          <label>收藏</label>
        </li>  
        <li class="ts has-tip" tooltip-placement="bottom" tooltip="分享店铺或宝贝给好友">  
          <i class="icon fi-share size-28"></i>
          <label>分享</label>
        </li>
    </ul>
 </div>