<div class="topbar">
  <div class="left">
    <a class="left logo" href="#" target="_blank"></a>
    <a class="left icon fi-home size-18 ts" href="#" target="_blank"><span>首页</span></a>
    <i class="left icon fi-social-windows size-18 ts"><span>画布管理</span></i>
    <i class="left icon fi-plus size-18 has-tip left-off-canvas-toggle ts" actab="0" ng-click="tabs[0].active = true"><span>添加组件</span></i>
    <i class="left icon fi-page-multiple size-16 has-tip left-off-canvas-toggle ts" actab="1" ng-click="tabs[1].active = true"><span>图层管理</span></i>
    <i class="left icon fi-eye size-24 ts"><span>预览效果</span></i>
    <i class="left icon fi-checkbox size-20 ts"><span>生成代码</span></i>
    <i class="left icon fi-list-thumbnails size-20 ts"><span>代码列表</span></i>
    <i class="left icon fi-upload-cloud size-20 ts"><span>导入代码</span></i>
    <i class="left icon fi-page-add size-18 ts"><span>新建画布</span></i>
  </div>
  
  <div class="right">
    <i class="icon left fi-paint-bucket size-18"><span>装修模板</span></i>
    <i class="icon left fi-share size-16"><span>分享给好友</span></i>
        <!--
        <i class="icon left fi-torso size-18"><span>我的账户</span></i>
        <i class="icon left fi-save size-18"><span>保存代码</span></i>
        <i class="icon left fi-power size-18"><span>退出登录</span></i>
      -->
      <i class="icon left fi-torso size-18"><span>注册&登陆</span></i>
      <i class="icon left fi-info size-18"><span>帮助&Bug</span></i>
    </div>
</div>
