<div id="topbar">
      <div class="left">
        <a class="left logo" href="#" target="_blank"></a>
        <a class="left icon fi-home size-18" href="#" target="_blank" tooltip="首页"></a>
        <i class="left icon fi-plus size-18 has-tip left-off-canvas-toggle" actab="0" ng-click="tabs[0].active = true" tooltip="添加组件"></i>
        <i class="left icon fi-page-multiple size-18 has-tip left-off-canvas-toggle" actab="1" ng-click="tabs[1].active = true" tooltip="图层管理"></i>
        <i class="left icon fi-eye size-24" tooltip="预览"></i>
        <i class="left icon fi-page-add size-18" tooltip="新建画布"></i>
        <i class="left icon fi-check size-18" tooltip="生成代码"></i>
        <i class="left icon fi-list size-18" tooltip="代码列表"></i>
      </div>
      
      <div class="right">
        <i class="icon fi-home size-18" tooltip="店铺装修模板"></i>
        <i class="icon fi-share size-16" tooltip="分享"></i>
        <p class="line margin-t10"></p>
        <i class="icon fi-torso size-18 margin-t10" tooltip="我的账户"></i>
        <i class="icon fi-save size-18" tooltip="保存"></i>
        <i class="icon fi-power size-18" tooltip="退出"></i>
        <i class="icon fi-info size-18" tooltip="BUG&帮助"></i>
      </div>
 </div>